<?php

/**
 * @var \Magento\Catalog\Block\Product\View $block
 * @var \Kowal\ProductSet\ViewModel\Product $viewModel
 */

$viewModel = $block->getViewModel();
$product = $block->getProduct();
$options = $viewModel->getOptions($product);

?>
<div class="product-add-form">
    <div class="product-options-bottom">
        <form data-product-sku="" action="<?= $block->getBaseUrl(); ?>checkout/cart/add" method="post" id="product_addtocart_form" novalidate="novalidate">
            <input type="hidden" name="product" value="<?= /** @noEscape  */ $product->getId(); ?>">
            <input type="hidden" name="selected_configurable_option" value="">
            <input type="hidden" name="related_product" id="related-products-field" value="">
            <input type="hidden" name="item" value="<?= /** @noEscape  */ $product->getId(); ?>">
            <input name="form_key" type="hidden" value="<?= /** @noEscape  */ $viewModel->getFormKey()->getFormKey(); ?>">

            <p> <?= /** @noEscape  */ __('The set contains'); ?>:</p>
            <dl>
                <?php foreach ($options as $option): ?>
                    <?php
                    /**
                     * @var \Magento\Bundle\Model\Option $option;
                     */
                    $selection = $option->getSelections()[0] ?? null;
                    ?>

                <?php if ($selection): ?>
                    <dt><?= $escaper->escapeHtml($option->getTitle()); ?>:</dt>
                    <dd>
                        <?= $escaper->escapeHtml($selection->getName()); ?>
                        <input type="hidden" name="bundle_option[<?= $option->getId(); ?>]" value="<?= $selection->getSelectionId(); ?>">
                    </dd>
                <?php endif; ?>
                <?php endforeach; ?>
            </dl>
            <div class="box-tocart">
                <div class="fieldset" id="custom-qty">
                    <div class="control">
                        <div class="input-group">
                            <span class="input-group__addon">
                                <button type="button" class="input-group__button input-group__button--decrease">
                                    <span class="input-group__icon input-group__icon--decrease">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17 11C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13C9.44313 13 14.5569 13 7 13C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11C14.6255 11 9.35698 11 17 11Z" fill="#323232"></path>
                                       </svg>
                                    </span>
                                </button>
                            </span>
                            <div class="input-group__input">1</div>
                            <span class="input-group__addon">
                                <button type="button" class="input-group__button input-group__button--increase">
                                    <span class="input-group__icon input-group__icon--increase">
                                         <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z" fill="#323232"></path>
                                        </svg>
                                    </span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <input type="number" name="qty" id="qty" maxlength="12" class="input-group__hidden">

                    <div class="actions">
                        <button type="submit" class="action button button-blue button-big tocart" id="product-addtocart-button">
                            <span data-bind="i18n: 'Add to Cart'"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
